%gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c6cc31+0,d465ef+100 */
background: #c6cc31; /* Old browsers */
background: -moz-linear-gradient(top,  #c6cc31 0%, #d465ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c6cc31 0%,#d465ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c6cc31 0%,#d465ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6cc31', endColorstr='#d465ef',GradientType=0 ); /* IE6-9 */

}